@import 'config/colors';
@import 'config/constant';


* {
  box-sizing: border-box;
}

div,
h1, h2, h3, h4, h5, h6,
form, input,
p {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


html,
body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

html {
  background: #eee url(shatterd.png) repeat top center;
}

body {
  margin: 0 auto !important;
  width: $content-width !important;
}


a {
  cursor: pointer !important;
  text-decoration: none !important;
}


::-webkit-input-placeholder {
  color: darken($white, 7%);
}
:-moz-placeholder {
  color: darken($white, 7%);
}
::-mox-placeholder {
  color: darken($white, 7%);
}
:-ms-input-placeholder {
  color: darken($white, 7%);
}
