@import 'config/colors';


footer {
  background: $base;
  color: $white;
  font-size: $font-md;
  text-align: center;
  padding: 10px 0;

  a {
    color: $white;

    &:hover {
      color: darken($base, 40%);
    }
  }
}
