@import 'config/colors';
@import 'config/constant';
@import 'config/constant';


.play-list {
  width: $player-width;
  height: 100%;
  float: left;
}

#player {
  width: $player-width;
  height: $player-height;
}

#playlist {
  background: $black;
  color: lighten($black, 40%);
  height: $content-height - $player-height;
  overflow: hidden;
  overflow-y: auto;

  ol {
    cursor: pointer;
    border-bottom: 1px solid lighten($black, 20%);
    font-size: $font-sm;
  }

  li {
    cursor: pointer;
    border-top: 1px solid lighten($black, 20%);
  }
}


#current {
  padding: 15px;
  color: $white;
  font-size: $font-md;
}


.playlist-item {
  display: table;
  width: $player-width;
}

$play-list-height: 30px;
$delete-btn-width: 60px;

.item-delete {
  display: table-cell;
  vertical-align: middle;
  float: right;
  padding: 5px;
  color: $red;
  //text-align: center;
  width: $delete-btn-width;
  height: $play-list-height;

  &:hover {
    background: $red;
    color: $white;
  }

  .fa-times {
    padding-left: 10px;
  }
}

.item-title {
  display: table-cell;
  vertical-align: middle;
  width: $player-width - $delete-btn-width;
  max-width: $player-width - $delete-btn-width;
  height: $play-list-height;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background: $blue;
    color: $white;
  }
}
