html {
  font-size: 6.25%;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18em;
  line-height: 1.6;
  padding: 2em 4em;
}
@media (max-width: 360px) {
  body {
    padding: 1em .8em;
    font-size: 16em;
  }
}

section {
  margin: 30px 0;
}
header {
  margin: 30px 0;
}
h1 {
  font-size: 1.5em;
  margin: 10px 0;
  line-height: 1.4em;
}
li {
  margin-bottom: .8em;
}
