* {
  box-sizing: border-box; }

div,
h1, h2, h3, h4, h5, h6,
form, input,
p {
  margin: 0; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif; }

html {
  background: #eeeeee url(shattered.png) repeat top center; }

body {
  margin: 0 auto !important;
  width: 960px !important; }

a {
  cursor: pointer !important;
  text-decoration: none !important; }

::-webkit-input-placeholder {
  color: #ededed; }

:-moz-placeholder {
  color: #ededed; }

::-mox-placeholder {
  color: #ededed; }

:-ms-input-placeholder {
  color: #ededed; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

header {
  background: #e85298;
  color: white;
  height: 55px;
  padding: 10px; }

.app-name {
  float: left;
  font-size: 22px; }

#search {
  position: relative;
  float: right;
  width: 460px; }

#query {
  background: #d21c71;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  padding: 8px;
  width: 440px; }
  #query:focus {
    outline: none; }

#submit {
  position: absolute;
  right: 20px;
  top: 3px; }

.play-list {
  width: 280px;
  height: 100%;
  float: left; }

#player {
  width: 280px;
  height: 210px; }

#playlist {
  background: #222222;
  color: #888888;
  height: 490px; }
  #playlist ol {
    cursor: pointer;
    border-bottom: 1px solid #555555;
    font-size: 12px; }
  #playlist li {
    cursor: pointer;
    border-top: 1px solid #555555; }

#current {
  padding: 15px;
  color: white;
  font-size: 15px; }

.playlist-item {
  width: 280px;
  overflow-y: scroll; }

.item-delete {
  float: right;
  padding: 5px;
  color: #ac0809;
  text-align: center;
  width: 60px;
  height: 30px; }
  .item-delete:hover {
    background: #ac0809;
    color: white; }

.item-title {
  width: 220px;
  height: 30px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .item-title:hover {
    background: #1171a2;
    color: white; }

#results {
  float: right;
  overflow-x: hidden;
  background: white;
  width: 680px;
  height: 700px; }

.video {
  cursor: pointer;
  height: 100px;
  padding: 5px 0;
  padding-right: 15px; }
  .video:nth-child(2n-1) {
    background: #f2f2f2; }
  .video:hover {
    background: #222222;
    color: white; }

.video-image {
  float: left;
  margin: 0 10px; }

.video-title {
  font-size: 15px;
  padding: 5px 0; }

.video-description {
  color: #6f6f6f;
  font-size: 12px; }

footer {
  background: #e85298;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 10px 0; }
  footer a {
    color: white; }
    footer a:hover {
      color: #610d34; }
